<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoronaFast - Productos Vendidos </title>
  <link rel="shortcut icon" type="image/x-icon" href="../imagenes/coronavirus.png" />


  <!-- Bootstrap Jquery Popper BootstrapJS-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


  <!--Iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Estilos propios -->
  <link href="../css/Vendedor-ProductosVendidos.css" rel="stylesheet">


</head>

<body>
 <!-- Barra superior -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/PaginaPrincipalVendedor/">CoronaFast</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <!-- Barra de busqueda-->
    <div class="d-flex justify-content-center h-100" style="padding-left: 50px;">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Busca otro artículo">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">


        <!--Este por si deseamos activar el boton
        <li class="nav-item active">
        </li>
        -->
  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-bag"></i> Mi tienda
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/PaginaPrincipalVendedor/"><i class="fas fa-boxes"></i> Mis productos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/AgregarProducto/"><i class="fas fa-dolly" ></i> Agregar producto</a>
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="/ProductosVendidos/" ><i class="fas fa-memory"></i> Historial de ventas</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> Mi cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/DatosVendedor/"><i class="far fa-user"></i>  Mi perfil</a>              
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</nav>



  <!-- Contenido de página -->

  <div class="p-4 ">
    <h3 style="padding:10px;">Productos Vendidos</h3>

<div class="form-group row">
  <div class="col-md-3">
    <!--Buscar por nombre-->
    <input type="text" class="form-control" aria-label="Search" id="myInput" onkeyup="filtrarNombre()" placeholder="Buscar por nombre..." title="Busca por nombre" style="margin-bottom: 20px;">
  </div>

</div>
  
    <table class="table table-bordered track_tbl  " id="tablaProductos" style="overflow: scroll; overflow: auto; ">

      <!--Cabecera-->
            <tr class="header">
                <th >Imagen</th>
                <th >Nombre del producto</th>
                <th >Cantidad</th>
                <th> Precio total </th>
                <th> Estado producto </th>
                <th> Fecha de pedido</th>
                <th> Nombre del comprador</th>
                <th> Nota del comprador</th>
                <th> Teléfono comprador</th>
                <th> Dirección </th>
                <th> Distrito </th>

            </tr>

      <!--Cuerpo-->

            <tr th:each="l : ${ordenesCompra}">
                <td scope="row" style="padding-right: 0px"> <img th:src="${l.imagen}" style="max-width: 100px;"> </td>
                <td th:text="${l.nombreProducto}">Coca Cola de 500ml</td>
                <td th:text="${l.cantidad} + ' Unidades'">2</td>
                <td th:text="'S/. '+${l.total}">S/.5</td>
                <form method="POST" action="/ProductosVendidos/actualizarestado/">
                <td><select name="estado">
                  <option th:selected="${l.estado == 'Pendiente'}">>Pendiente</option>
                  <option th:selected="${l.estado == 'En camino'}">En camino</option>
                  <option th:selected="${l.estado == 'Aceptado'}">Aceptado</option>
                </select><br><input type="hidden" name="idtransac" th:value="${l.idTransaccion}"/><button type="submit">Actualizar Estado</button></td></form>
                <td th:text="${l.fechaCompra}">01/01/2020</td>
                <td th:text="${l.nombreComprador}">el pepe</td>
                <td th:text="${l.nota}">The brown fox is mad jumping all over the place for no reason </td>
                <td th:text="${l.telefonoComprador}">9696969696</td>
                <td th:text="${l.direccionexacta}">direcciond ireccion direccion 99</td>
                <td th:text="${l.distritoComprador}">Surco</td> 
            </tr>
    </table>
    


    </div>

    <!--Script de busqueda por nombre-->
    <script>
      function filtrarNombre() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("tablaProductos");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }
      </script>

  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Coronamigos SAC 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
