<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoronaFast - Productos Vendidos </title>
  <link rel="shortcut icon" type="image/x-icon" href="../imagenes/coronavirus.png" />


  <!-- Bootstrap Jquery Popper BootstrapJS-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/Error.js"></script>

  <!--Iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Estilos propios -->
  <link href="../css/Vendedor-Error.css" rel="stylesheet">


</head>

<body>
 <!-- Barra superior -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">CoronaFast</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <!-- Barra de busqueda-->
    <div class="d-flex justify-content-center h-100" style="padding-left: 50px;">
      <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Busca otro artículo">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">


        <!--Este por si deseamos activar el boton
        <li class="nav-item active">
        </li>
        -->


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell"></i> Notificaciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" ><i class="fas fa-clipboard-list"></i> Lista notificaciones</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" ><i class="fas fa-bell"></i> Agregar notificación</a>
          </div>
        </li>  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-bag"></i> Mi tienda
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><i class="fas fa-boxes"></i> Mis productos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-dolly" ></i> Agregar producto</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" ><i class="fas fa-clipboard-list" ></i> Agregar categoría</a>
            <div class="dropdown-divider" ></div>
            <a class="dropdown-item" href="#" ><i class="fas fa-memory"></i> Historial de ventas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" ><i class="fas fa-cog"></i> Configuraciones</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> Mi cuenta
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#"><i class="far fa-user"></i>  Mi perfil</a>              
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</nav>



   <!-- Contenido de página -->
   <div class="text" style="padding-top: 50px;">
    <div>¡Ups!</div>
    <h1>Lo sentimos</h1>
    <hr>
    <div>Ha ocurrido un error</div>
  </div>
  
  
  <div class="astronaut">
    <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
  </div>

  <!-- /.container -->

  <!-- Footer -->
  <footer class="">
    <div class="container">
      <p class="m-0 text-center text-white" style="font-size: 10px;">Copyright &copy; Coronamigos SAC 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
