<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoronaFast - Carrito de Compras</title>
  <link rel="shortcut icon" type="image/x-icon" href="../imagenes/coronavirus.png" />


  <!-- Bootstrap Jquery Popper BootstrapJS-->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


  <!--Iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Estilos propios -->
  <link href="../css/tienda-PaginaTiendaComerciante.css" rel="stylesheet">


</head>

<body>
 <!-- Barra superior -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/PaginaPrincipalComprador/">CoronaFast</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <!-- Barra de busqueda-->
    <div class="d-flex justify-content-center h-100" style="padding-left: 50px;">
      <form action="/ResultadosBusqueda/" method="POST">
          <div class="searchbar">
              <input class="search_input" type="text" name="strBusqueda" placeholder="Busca otro artículo">
              <button type="submit" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
      </form>
  </div>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">


      <!--Este por si deseamos activar el boton
      <li class="nav-item active">
      </li>
      -->


      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-bell"></i> </a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/CarritoCompras/"><i class="fas fa-shopping-cart"></i> Carrito</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-shopping-bag"></i> Mis compras
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fas fa-plane-departure"></i> Mis pedidos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fas fa-star"></i> Lista de deseados</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fas fa-star"></i> Tiendas favoritas</a>
          

        </div>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Mi cuenta
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/DatosComprador/"><i class="far fa-user"></i>  Mi perfil</a>              
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout/"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        </div>
      </li>
      
    </ul>
  </div>
</div>
</nav>


  <!-- Contenido de página -->

  <div class="container" style="padding-top: 50px;">
    <form method="POST" action="/CarritoCompras/comprar/" id="postearcantidades"></form>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Artículo</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="l : ${productos}" >
                        <td class="col-sm-8 col-md-6" th:id="'producto' + ${l.idProducto}">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"> <img class="media-object" th:src="${l.imagen}" style="width: 72px; height: 72px; padding-right: 5px"> </a>
                            <div class="media-body">
                                <h4 class="media-heading"><p th:text="${l.nombreProducto}"></p></h4>
                                <h5 class="media-heading"> Por: <span th:text="${l.nombreTienda}"></span></h5>
                                <span>Estado: </span>
                                <span class="text-success" th:switch="${l.cantStock}">
                                  <strong th:case="0">Sin stock</strong>
                                  <strong th:case="*">Con stock</strong>
                                </span>
                            </div>
                        </div></td>
                        <div>
                          <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="text" name="quantity[]" th:id="'cantidadProducto' + ${l.idProducto}" value="1" class="result" form="postearcantidades"/>
                          </td>
                          <td class="col-sm-1 col-md-1 text-center"><span th:id="'precioProducto' + ${l.idProducto}" th:text="'$' + ${l.precio}"></span></td>
                          
                          <td class="col-sm-1 col-md-1 text-center"><span th:id="'precioProductoTotal' + ${l.idProducto}" ></span></td>
                        </div>
                        <td class="col-sm-1 col-md-1">
                          <form th:action="@{/CarritoCompras/quitar/{y}/ (y=${l.idProducto})}" method="POST" id="quitarForm">
                            <button type="submit" class="btn btn-danger" form="quitarForm">
                              <span class="glyphicon glyphicon-remove"></span> Quitar
                            </button>
                          </form>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right" ><h5><strong>$</strong><strong><span id="precioSubTotal"></span></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Envío</h5></td>
                        <td class="text-right"><h5><strong>$</strong><strong><span id="precioEnvio"></span></strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$</strong><strong><input type="hidden" name="inputotal" form="postearcantidades" id="escondido" /><span id="precioTotal"></span></strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>

                        <td>
                        <button type="submit" class="btn btn-success" form="postearcantidades">
                            Pagar <span class="glyphicon glyphicon-play"></span>
                        </button></td>

                        <button type="button" id="botonActualizar" class="btn btn-success" onclick="agregarPrecios()">
                          Actualizar <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
</div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Coronamigos SAC 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <script th:inline="javascript"> 
    /*<![CDATA[*/
      var id = /*[[${idUsuario}]]*/ "idUsuario";
    /*]]>*/ 
    </script>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../js/carrito.js"></script>

</body>

</html>
